* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --colorFondo: #8829A8;
  --bordeFondo: #9426b9;
  --colorPie:#C87CDF;
  --fondoFocus: #ffb8fa;
}

html {
     font-size: 16px;
     scroll-behavior: smooth;
}

:focus{
  border-color: var(--bordeFondo);
  background-color:var(--fondoFocus);
  text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(5, 5, 4);
    background-color: rgb(255, 255, 255);
}
header {
  background-color: var(--colorFondo);
  color: white;
  padding: 20px;
  text-align: center;
  display:flex;
  align-items: flex-start;
  gap: 15px;
  border-bottom: var(--bordeFondo);
}

.linkSalto{
  position:absolute;
  width: 100%;
  top: -80px;
  background: #ffbf47;
  gap: 1rem;
  pad: 0.6rem 0;
  z-index: 1000;
  border:5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skip-link{
  color: #671F7F;
  padding: 0.4rem 0.8rem;
}

.skip-link:focus{
  outline: 3px solid #000;
}

.linkSalto:focus-within{
  position: relative;
  top: 0;
  transition: top 0.2s ease;
  margin: 0;
}

section {
  padding: 40px;
}

.logo{
  width: 70px;
  height: auto;
}

.columnaTitulo{
  text-align: left;
}

q {
  font-style: italic;
  quotes: none;
}

main {
  padding: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #8602B6;
  color: white;
}
/* === ADAPTACIÓN A MÓVILES === */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header nav {
    flex-direction: column;
  }

  .form-container {
    margin: 30px 15px;
    padding: 20px;
  }

  article img {
    width: 100%;
  }
}


@media (orientation: landscape) {
  body {
    font-size: 18px;   
  }

  .container {
    display: flex;
    flex-direction: row; 
  }
}


/* === FOOTER === */
footer {
  background-color: var(--colorPie); 
  color: #000;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
  border-top: 3px solid var(--colorFondo); 
  font-size: 0.95rem;
}

/* Parte superior con los enlaces */
.footer-top {
  margin-bottom: 10px;
}

.footer-top a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-top a:hover {
  color: #fff;
  text-decoration: underline; 
}

/* Parte inferior con créditos */
.footer-bottom p {
  margin: 5px 0;
  font-size: 0.9rem;
}

/* Diseño responsive */
@media (max-width: 480px) {
  .footer-top a {
    display: block;
    margin: 6px 0;
  }

  footer {
    padding: 25px 10px;
  }
}
