/* === ESTILOS GENERALES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
     font-size: 16px;
     scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;  
  color: rgb(5, 5, 4);
  background-color: rgb(255, 255, 255);
}
header {
  background-color: #b554d5;
  color: white;
  padding: 20px;
  text-align: center;
}


/* === CONTENEDOR DEL FORMULARIO === */
.form-container {
  max-width: 500px;          
  margin: 60px auto;          
  background-color: white;     
  padding: 30px;              
  border-radius: 10px;      
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #222;
}

/* === ETIQUETAS (labels) === */
label {
  display: block;             
  margin-bottom: 8px;         
  font-weight: bold;
}

/* === CAMPOS DEL FORMULARIO === */
input, textarea, select {
  width: 100%;                 
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;     
  border-radius: 5px;        
  font-size: 1rem;
  transition: border-color 0.3s ease; 
}

/* === EFECTO AL HACER FOCO (cuando el usuario hace clic) === */
input:focus, textarea:focus, select:focus {
  border-color: #b554d5;    
  outline: none;               
}

/* === BOTÓN === */
button {
  display: block;               
  margin: 0 auto;               
  padding: 8px 20px;           
  background-color: #b554d5;    
  color: white;               
  border: none;                
  border-radius: 5px;           
  font-size: 1rem;             
  cursor: pointer;             
  transition: background-color 0.3s ease; 
  width: auto;                 
}

button:hover {
  background-color: #b554d5;   
}


/** MODELO TABLAS **/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #b554d5;
  color: white;
}
/* === ADAPTACIÓN A MÓVILES === */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header nav {
    flex-direction: column;
  }

  .form-container {
    margin: 30px 15px;
    padding: 20px;
  }

  article img {
    width: 100%;
  }
}

/* === ESTILOS PARA LOS LEGENDS === */
legend {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  background-color: #d49fe6; 
  border: 2px solid #d49fe6;
  border-radius: 8px;
  padding: 6px 14px;
  margin-left: 10px; 
  text-align: left;
}

fieldset {
  border: 2px solid #d49fe6;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}



