* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
     font-size: 16px;
     scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(5, 5, 4);
    background-color: rgb(255, 255, 255);
}
header {
  background-color: #b554d5;
  color: white;
  padding: 20px;
  text-align: center;
}

/** MODELO TABLAS **/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #b554d5;
  color: white;
}

/* === ADAPTACIÓN A MÓVILES === */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header nav {
    flex-direction: column;
  }

  .form-container {
    margin: 30px 15px;
    padding: 20px;
  }

  article img {
    width: 100%;
  }
}

/* === FOOTER === */
footer {
  background-color: #c57bdd; 
  color: #000;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
  border-top: 3px solid #bb77d2; 
  font-size: 0.95rem;
}

/* Parte superior con los enlaces */
.footer-top {
  margin-bottom: 10px;
}

.footer-top a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-top a:hover {
  color: #fff; /* cambia a blanco al pasar el ratón */
}

/* Parte inferior con créditos */
.footer-bottom p {
  margin: 5px 0;
  font-size: 0.9rem;
}

/* Diseño responsive */
@media (max-width: 480px) {
  .footer-top a {
    display: block;
    margin: 6px 0;
  }

  footer {
    padding: 25px 10px;
  }
}
