@import url("/proyectoUsabilidad/estilos/index.css");
@import url("/proyectoUsabilidad/estilos/formularios.css");
@import url("/proyectoUsabilidad/estilos/articulos.css");
@import url("/proyectoUsabilidad/estilos/mensajes.css");
:root {
  --colorFondo: #000;
  --bordeFondo: #ff0;    
  --colorLetras: #ff0;
  --colorPie: #000;
  --fondoFocus: #ff0;
  --fondoCuerpo:#000;
  --colorLetraHeaderFooter: #fff;
}
/* cabecera*/
header {
  background-color: var(--colorFondo);
  color: var(--colorLetras);
  border-bottom: 2px solid var(--bordeFondo);
}

/*pie*/
footer {
  background-color: var(--colorFondo);
  color: var(--colorLetras);
  border-top: 2px solid var(--bordeFondo);
}

a {
  color: #f00;
  text-decoration: underline;
}

a:hover {
  color: #f00 !important;
}

th {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  
}

td {
  border-color: #fff;
}
/* amarillo para enfocar*/
:focus {
  outline: 3px solid var(--colorFondo);
  background-color: #333;
}

.footer-top a{
  color: var(--colorLetraHeaderFooter);
}