@import url("/proyectoUsabilidad/estilos/index.css");
@import url("/proyectoUsabilidad/estilos/formularios.css");
@import url("/proyectoUsabilidad/estilos/articulos.css");
@import url("/proyectoUsabilidad/estilos/mensajes.css");
:root {
  --colorFondo: #ff0;
  --bordeFondo: #000;    
  --colorPie: #ff0;
  --fondoFocus: #000;
}

body {
  background-color: var(--colorFondo);
  color: #000;
}
/* cabecera*/
header {
  background-color: var(--colorFondo);
  color: #000;
  border-bottom: 2px solid var(--bordeFondo);
}
/*pie*/
footer {
  background-color: var(--colorFondo);
  color: #000;
  border-top: 2px solid var(--bordeFondo);
}


a {
  color: #00ffff;
  text-decoration: underline;
}

a:hover {
  color: var(--bordeFondo);
}

th {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  
}

td {
  border-color: #fff;
}
/* amarillo para enfocar*/
:focus {
  outline: 3px solid var(--fondoFocus);
  background-color: #333;
}