@import url("/proyectoUsabilidad/estilos/index.css");
@import url("/proyectoUsabilidad/estilos/formularios.css");
@import url("/proyectoUsabilidad/estilos/articulos.css");
@import url("/proyectoUsabilidad/estilos/mensajes.css");

    :root {
    --colorFondo: #1a0033;     /* morado más oscuro */
    --bordeFondo: #7a1fa2;
    --colorPie: #260046;
    --fondoFocus: #c77dff;
    }


body {
  background-color: #0d0d0d;
  color: #f5f5f5;
}

header {
  background-color: var(--colorFondo);
  color: #fff;
  border-bottom: 2px solid var(--bordeFondo);
}

footer {
  background-color: var(--colorPie);
  color: #fff;
}

a {
  color: #9f7fff;
}

a:hover {
  color: #d9b3ff;
}

th {
  background-color: #3b0066;
  color: #fff;
}

table, td {
  border-color: #777}